@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --cor-azul: #03598a;
  --cor-verde: #9ee04b;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
  background-color: var(--cor-azul);
  width: 100%;
}

header img {
  max-width: 50%;
  padding: 20px;
}

header nav {
  width: 100%;
  background-color: #f5f5f5;
}

header ul {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

header ul li {
  width: 130px;
  margin: 20px;
  list-style-type: none;
}

header ul li a {
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: var(--cor-azul);
  border-bottom: 3px solid var(--cor-verde);
}

header ul li a:hover {
  border-radius: 5px;
  background-color: var(--cor-verde);
}

.introducao__quem {
  width: auto;
  padding: 40px;
  font-size: 2.625rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--cor-verde);
}

.introducao {
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.introducao__o-que-e {
  max-width: 700px;
  padding-right: 30px;
  text-align: justify;
}

.introducao__o-que-e h2 {
  font-size: 42px;
  font-weight: 400;
  text-align: start;
  text-transform: uppercase;
  color: var(--cor-verde);
}

.introducao__o-que-e p {
  font-size: 24px;
  color: var(--cor-azul);
}

.fundador {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 20px 40px;
}

.imagem-dos-fundadores {
  border-radius: 50%;
  border: 10px solid var(--cor-verde);
}

.informacao {
  margin: 10px;
  padding: 10px;
}

.titulo {
  margin: 10px;
  font-size: 32px;
  color: var(--cor-verde);
}

.nome {
  margin: 10px;
  font-size: 32px;
  color: var(--cor-azul);
}

.cargo {
  margin: 10px;
  font-size: 32px;
  color: var(--cor-verde);
}

.idealizador {
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: center;
  text-align: end;
  padding: 20px 40px;
}

hr {
  margin: 30px 0px;
  background-color: var(--cor-azul);
  height: 10px;
}

.farol-descricao {
  padding: 20px;
  text-align: center;
  font-size: 32px;
  color: var(--cor-azul);
}

.farol-objetivos {
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 40px;
}

.farol-objetivos-objetivo {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex: 1 1 300px;
}

.farol-objetivos-objetivo-titulo {
  color: var(--cor-verde);
  font-size: 42px;
  margin-bottom: 10px;
}

.farol-objetivos-objetivo-descricao {
  text-align: center;
  font-size: 24px;
  word-spacing: 5px;
  color: var(--cor-azul); 
}

.farol-objetivos-objetivo-ul {
  list-style-type: none;
  text-align: center;
}

.farol-objetivos-objetivo-li {
  color: var(--cor-azul);
  font-size: 24px;
}

footer {
  width: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--cor-azul);
}

.incentivadores {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.incentivadores__titulo {
  color: var(--cor-verde);
  margin: 20px 10px 0px 20px;
}

.incentivadores__conteudo {
  width: 100%;
  display: flex;
  align-items: center;
}

.incentivadores__imagem {
  width: 180px;
  height: 180px;
  margin: 40px 10px 10px 10px;
  border: 10px solid var(--cor-verde);
  border-radius: 10px;
}

.incentivadores__lista {
  list-style-type: none;
  width: auto;
}

.incentivadores__lista-item__link {
  width: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 10px;
  gap: 5px;
  color: var(--cor-verde);
  text-decoration: none;
}

.incentivadores__lista-item__link:hover {
  text-decoration: underline;
}

.incentivadores__lista-item__imagem {
  width: 35px;
  height: 35px;
  background-color: var(--cor-verde);
  border-radius: 10px;
}

.direitos {
  width: auto;
  background-color: var(--cor-azul);
  text-align: center;
  color: var(--cor-verde);
  padding-top: 10px;
}
